/* Style Sheet for index.html*/

*{
    margin: 0px;
    font-family: Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    box-sizing: border-box;
}
html{
    scroll-behavior: smooth;
}

body{
    background: #0C0A00; 
    color: #fff;

}

#header{
    width:100%;
    height: 89vh;
    background-image: url(Images/MainSite2.jpg);
    background-size: cover;
    background-position: center;
}

.container{
    padding: 10px 8%;

}

nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
}

.logo{
    width: 40%;
    height: 40%;
}

nav ul li{
    display: inline-block;
    list-style: none;
    margin: 10% 20px;

}

nav ul li a{
    color: #fff;
    text-decoration: none;
    font-family: Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-size: medium;
    position: relative;

}

nav ul li a::after{
    content: '';
    width:0;
    height: 3px;
    background: #63C5DA;
    position: absolute;
    left:0;
    bottom: -6px;
    transition: 1s;

}


nav ul li a:hover::after{
    width: 100%

}

.header-text{
    margin-top: 20%;
    font-size: 30px;
    color: #f8f8ff;
}

.header-text h1{
    font-size: 60px;
    margin-top: 20px;
    color:#f8f8ff
}
.header-text h1 span{
    color: #63C5DA
}


/* ---------------------------------- About-------------------------*/

#about{
    padding: 80px 0;
    color: #f8f8ff
}

.row{
    display:flex;
    justify-content:space-between;
    flex-wrap: wrap;
}

.about-col-1{
    flex-basis: 35%;
}

.about-col-1 img{
    width: 90%;
}


.about-col-2{
    flex-basis: 60%;

}

.SecondImage{
    display: block;
    transition: transform 0.5s;

}

.SecondImage:hover{
    transform: scale(1.1);

}

.subabout{
    font-size: 40px;
    font-weight: bold;
    color:#f8f8ff;
}


.tabtitles{
    display: flex;
    margin: 30px 0 10px;

}
.aboutmeinfo{
    font-family: Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-size: 18px;
}

.tablink{
    font-family: Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    margin-top: 20px;
    margin-right: 50px;
    font-weight:bold;
    cursor: pointer;
    position: relative;
}

.tablink::after{
    content:'';
    width:0;
    height: 3px;
    background:#63C5DA;
    position:absolute;
    left:0;
    bottom: -8px;
    transition: 0.5s;
}

.tablink.activelink::after{
    width: 70%;
}

.tabcontents ul li{
    list-style: none;
    margin: 15px -40px;
    
}

.tabcontents ul li span{
    color: #63C5DA;
    font-size: 14px;
    font-weight: bold;
}

.tabcontents{
    display: none;
}

.tabcontents.activetab{
    display: block;
}

/*------------------------------------- Portfolio---------------------------*/

#portfolio{
    padding: 40px 0;
    margin-bottom: 30px;

}

.portlist{
    display:grid;
    grid-template-columns: repeat(auto-fit,minmax(250px, 1fr));
    grid-gap: 40px;
    margin-top: 50px;
}


.portlist div {
    background-color: #202020 ;
    padding: 40px;
    font-size: 13px;
    font-weight: 300;
    border-radius: 10px;
    transition: background 0.5s, transform 0.5s;
}

.portlist div i{
    font-size: 70px;
    margin-bottom: 30px;
}

.portlist div h2{
    font-size: 30px;
    font-weight: 500;
    margin-bottom: 15px
}

.portlist div a{
    text-decoration: none;
    color:#f8f8ff;
    font-size:12px;
    margin-top: 20px;
    display: inline-block;

}

.portlist div:hover{
    background:#63C5DA;
    transform: translateY(-20px);
}


/*--------------------------------Contact----------------------------------------------*/


.contactleft {
    flex-basis: 35% ;
}

.contactright {
    flex-basis: 60% ;
}

.contactleft p{
    margin-top: 30px;
}

.contactleft p i{
    font-size: 20px;
    color:#63C5DA;
    margin-right: 15px ;

}

.socialicon{
    margin-top: 30px;
}

.socialicon a{
    font-size: 35px;
    text-decoration: none;
    margin-right: 10px;
    color:#f8f8ff;
    display: inline-block;
    transition: transform 0.5s;
}

.socialicon a:hover{
    color: #63C5DA;
    transform: translateY(-4px);
}

.download{
    display: inline-block;
    margin: 30px auto;
    width: fit-content;
    border: 1px solid #63C5DA;
    padding: 14px 50px;
    border-radius: 7px;
    text-decoration: none;
    color: #f8f8ff;
    transition: background 0.5s;
    
}
.download:hover {
    background: #63C5DA;
}


.submitbut{
    display: inline-block;
    font-size: 16px;
    margin: 30px auto;
    margin-top: 20px;
    width: fit-content;
    border: 1px solid #63C5DA;
    padding: 14px 60px;
    border-radius: 7px;
    text-decoration: none;
    background-color: #0C0A00;
    color:#f8f8ff;
    cursor: pointer;
    transition: background 0.5s;
}

.submitbut:hover {
    background: #63C5DA;
}


.contactright form {
    width:100%;
}

form input, form textarea{
    width: 100%;
    border: 0;
    outline: none;
    background: #202020;
    padding: 15px;
    margin: 15px 0;
    color: #f8f8ff;
    font-size: 16px;
    border-radius: 7px;
}

.copyright{
    width:100%;
    text-align: center;
    padding: 25px 0;
    background: #202020;
    font-weight: 400;
    margin-top: 16px;
}


/*----------------------------------CSS Phone Devices -----------------------------------*/
nav .fa-solid{
    display: none;
}


@media only screen and (max-width: 600px) {
    .logo{
        width: 75%;
        height: 75%;
    }
    #header{
        width:100%;
        height: 100vh;
        background-image: url(Images/PhoneMain.jpg);
        background-size: cover;
        background-position: center;
    }
    .header-text{
        margin-top: 50%;
        font-size: 16px;

    }
    .header-text p{
        margin-right: 10%;
    }
    .header-text h1{
        font-size: 50px;
    }

    nav .fa-solid{
        display: block;
        font-size: 20px;
    }
    nav ul{
        background: #63C5DA;
        position:fixed;
        top:0;
        right: -200px;
        width: 200px;
        height: 200vh;
        padding-top: 50px;
        z-index: 2;
        transition: right 0.5s;
    }
    nav ul li{
        display: block;
        margin: 25px;
    }
    nav ul .fa-solid {
        position: absolute;
        top: 25px;
        left:25px;
        cursor:pointer
    }
    .subabout{
        font-size: 32px;
        margin-left: 0%;
    }
    .about-col-1, .about-col-2{
        flex-basis: 100%;

    }
    .about-col-1 img{
        margin-left: 8%;
        margin-bottom: 30px;
    }

    .about-col-2{
        font-size: 12px;
    }

    .tablink{
        font-size: 18px;
        margin-right: 20px;

    }

    .contactleft, .contactright{
        flex-basis: 100%;
    }

    .copyright{
        font-size: 12px;
    }

    }


/*----------------Message Sent---------------------------------*/

#msg{
    color: #50c878;
    margin-top: -10px;
    display: block;
}




